
.about-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(0, 8, 33) 80%, rgb(0, 31, 66) 20%);
    transition: 500ms;
}

.about-txt{
    width: 55%;
    margin: 0 auto;
    padding-top: 100px;
    color: white;
    transition: 800ms;
    padding-right: 250px;
    opacity: 0;
}

.about-txt-visible{
    padding-right: 0px;
    opacity: 1;
}

.about-txt h1{
    font-size: 4rem;
    text-indent: 20px;
}

.about-txt p{
    font-size: 1.8rem;
}

.about-txt button{
    width: 170px;
    padding: 8px;
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    transition: 500ms;
}

.about-txt button:hover{
    background-color: rgb(0, 31, 66);
    border: none;
}

.about-txt a{
    text-decoration: none;
    color: white;
}

/*querys*/

@media screen and (max-width: 720px){

    .about-container{
        height: 80vh;
    }
    
    .about-txt{
        padding-top: 50px;
    }

    .about-txt h1{
        font-size: 3rem;
        text-indent: 20px;
    }
    
    .about-txt p{
        font-size: 1.4rem;
    }

    .about-txt button{
        width: 100px;
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 500px){

    .about-container{
        background: linear-gradient(to left, rgb(0, 8, 33) 100%, rgb(0, 31, 66) 0%);
    }

    .about-txt{
        width: 70%;
        padding-top: 20px;
    }

}