
.apresentation-container{
    position: relative;
    width: 100%;
    height: 95vh;
    background: linear-gradient(to right, rgb(36, 84, 226) 70%, rgb(95, 235, 177) 30%);
}

.photo{
    position: absolute;
    width: 20%;
    height: 40%;
    left: 61%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: white;
}