
.navegation-button{
    position: absolute;
    position: fixed;
    width: 30px;
    height: auto; 
    right: 155%;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 3;
}

.nav-icon{
    position: absolute;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    filter: invert(100%);
    transition: 250ms;
}

.nav-icon:hover{
    scale: 1.1;
}


.sidebar{
    position: absolute;
    position: fixed;
    width: 400px;
    height: 370px;
    top: 0px;
    right: 0px;
    background-color: rgb(16, 16, 16);
    transform: translateY(-150%) translateX(150%);
    opacity: 0;
    transition: 650ms;
    z-index: 2;
}

.visibleNav{
    transform: translateY(0%) translateX(0%);
    opacity: 1;
}

.first-list{
    list-style: none;
    padding: 40px;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(95, 95, 95);
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 500ms;
}

.contacts{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 40px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 95, 95);
}

.first-list a, .contacts a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    transition: 500ms;
}

.first-list li:hover{
    color: white;
    transition: 250ms;
    padding-left: 10px;
}

.first-list a:hover{
    color: white;
    transition: 250ms;
    padding-left: 10px;
    transition: 500ms;
}

.first-list button{
    font-size: 2rem;
    font-weight: 400;
    color: rgb(95, 95, 95);
    background: none;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

.first-list button:hover{
    color: white;
}

.contacts li:hover{
    color: white;
    transition: 250ms;
}

.contacts a:hover{
    color: white;
    transition: 250ms;
}

/*querys*/

@media screen and (max-width: 500px) {

    .sidebar{
        width: 100%;
        height: 100vh;
        background-color: rgb(16, 16, 16);
        transform: translateX(150%);
        opacity: 0;
        transition: 650ms;
        padding-top: 50px;
    }
    
    .visibleNav{
        transform: translateX(0%);
        opacity: 1;
    }

}